*,
*:before,
*:after
  box-sizing border-box
  outline 0

body
	margin 0
	font-family 'Helvetica Neue', Helvetica, STHeiTi, 'Microsoft Yahei', Tahoma, sans-serif
	font-size 20px
	color #333
	background linear-gradient(to bottom, lightblue 0%, #fcfcfc 10%) no-repeat
	height 100vh
	overflow hidden

input
	font-size 18px
	padding 3px 8px
	width 90%
	color #333
	border 1px solid #ddd

ul, li
	margin 0
	padding 0
	list-style none

.row
	display flex

	.col
		flex 1

.hidden
	display none

label
	display block
	margin-bottom 5px

.main
	padding 20px
	height 100vh
	overflow-y auto
