*,
*:before,
*:after
  box-sizing border-box

body
	margin 0
	font-family 'Helvetica Neue', Helvetica, STHeiTi, 'Microsoft Yahei', Tahoma, sans-serif
	font-size 20px
	padding 30px
	color #333
	background linear-gradient(to bottom, lightblue 0%, #fcfcfc 10%) no-repeat
	height 100vh
	overflow-y auto

input
	font-size 18px
	padding 3px 8px
	width 90%
	color #333
	border 1px solid #ddd

.row
	display flex

	.col
		flex 1

label
	display block
	margin-bottom 5px
